@charset "UTF-8";
@import "tailwindcss";

:root {
    --background: #eeeeee;
    --foreground: #171717;
    --content: #ffffff;
    --border: #00000046;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #080808;
        --foreground: #ededed;
        --content: #252525;
    }
} */

:root[data-theme="light"] {
    --background: #eeeeee;
    --foreground: #171717;
    --content: #ffffff;
    --border: #00000046;
}

:root[data-theme="dark"] {
    --background: #080808;
    --foreground: #ededed;
    --content: #252525;
    --border: #ffffff6e;
}

body {
    background: var(--background);
    color: var(--foreground);
}

.tiptap {
    height: 100%;
}

.tiptap:focus {
    outline: 2px solid var(--border);
}

.tiptap {
    overflow-y: auto;
    padding: 0 0.5rem;
}