@charset "UTF-8";
@import "tailwindcss";

:root {
    --background: #eeeeee;
    --foreground: #171717;
}

body {
    background: var(--background);
    color: var(--foreground);
}

.tiptap {
    height: 100%;

}

.tiptap:focus {
    outline: 2px solid #00000036;
}