@charset "UTF-8";
@import "tailwindcss";

:root {
    --background: #eeeeee;
    --foreground: #171717;
    --content: #ffffff;
    --border: #00000046;
    --hover: #6363632c;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #080808;
        --foreground: #ededed;
        --content: #1b1b1b;
    }
} */

:root[data-theme="light"] {
    --background: #eeeeee;
    --foreground: #171717;
    --content: #ffffff;
    --border: #00000046;
    --hover: #6363632c;
}

:root[data-theme="dark"] {
    --background: #080808;
    --foreground: #ededed;
    --content: #1b1b1b;
    --border: #ffffff6e;
    --hover: #ffffff21;
    scrollbar-color: #ffffff6c #0000001f;
}

body {
    background: var(--background);
    color: var(--foreground);
    width: 100vw;
    height: 100vh;
}

.tiptap:focus {
    outline: 2px solid var(--border);
}

.tiptap {
    padding: 0 0.5rem;
    padding-bottom: 10rem;
    height: 100%;
    overflow-y: auto;
}
